@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* white */
    --background: 0 0% 100%;
    /* black */
    --foreground: 222.2 84% 4.9%;
    /* white */
    --card: 0 0% 100%;
    /* black */
    --card-foreground: 222.2 84% 4.9%;
    /* white */
    --popover: 0 0% 100%;
    /* black */
    --popover-foreground: 222.2 84% 4.9%;
    /* blue */
    --primary: 221.2 83.2% 53.3%;
    /* white */
    --primary-foreground: 210 40% 98%;
    /* light gey */
    --secondary: 210 40% 96.1%;
    /* second black */
    --secondary-foreground: 222.2 47.4% 11.2%;
    /* light gey */
    --muted: 210 40% 96.1%;
    /* light gey */
    --muted-foreground: 215.4 16.3% 46.9%;
    /* light gey */
    --accent: 210 40% 96.1%;
    /* second black */
    --accent-foreground: 222.2 47.4% 11.2%;
    /* red */
    --destructive: 0 84.2% 60.2%;
    /* light gry */
    --destructive-foreground: 210 40% 98%;

    --success: 119 49% 56%;
    --success-foreground: 210 40% 98%;

    --warning: 45 70% 60%;
    --warning-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 221.2 83.2% 53.3%;
    --radius: 0.75rem;
    --chart-1: ;
    --chart-2: ;
    --chart-3: ;
    --chart-4: ;
    --chart-5: ;
  }

  .dark {
    /* black */
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 217.2 91.2% 59.8%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 224.3 76.3% 48%;
    --chart-1: ;
    --chart-2: ;
    --chart-3: ;
    --chart-4: ;
    --chart-5: ;
  }
}

